
#wb_header { background: transparent none repeat scroll left top; height: 100px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 1000px; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 80px; }
body { background: #242324 url("../gallery_gen/8a8d5cbf00d3c40ab236c320e06c132a.png") repeat-y scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/000f123e6150540ac201e7e4148e39b4.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1180px; }
.root { width: 1200px; height: 1180px; overflow: visible; min-height: 1180px; }
#wb_element_instance86 { left: 615px; top: 30px; min-width: 450px; width: 450px; min-height: 40px; height: 40px; display: block; z-index: 523; }
#wb_element_instance86 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance86, #wb_element_instance86 ul { text-align: right; }
#wb_element_instance86 ul ul { background: #ffe100 none repeat scroll left top; }
#wb_element_instance86 li { margin: 0px 10px 0px 10px; }
#wb_element_instance86 li a { text-transform: none; border: 0px none #000000; padding: 10px 5px 10px 5px; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance86 li.over > a, #wb_element_instance86 li:focus > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff0900; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance86 li.active > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff0900; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance86:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance86:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance86:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance87 { left: 140px; top: 10px; min-width: 450px; width: 450px; min-height: 58px; height: 58px; display: block; z-index: 516; }
#wb_element_instance88 { left: 140px; top: 60px; min-width: 450px; width: 450px; min-height: 36px; height: 36px; display: block; z-index: 518; }
#wb_element_instance89 { left: 1102px; top: 35px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 513; }
#wb_element_instance89 img { width: 30px; height: 30px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance90 { left: 1137px; top: 36px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 512; }
#wb_element_instance90 img { width: 30px; height: 30px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance91 { left: 2px; top: 6px; min-width: 120px; width: 120px; min-height: 90px; height: 90px; display: block; z-index: 517; }
#wb_element_instance91 img { width: 120px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance92 { left: 20px; top: 22px; min-width: 220px; width: 220px; min-height: 44px; height: 44px; display: block; z-index: 522; }
#wb_element_instance93 { left: 20px; top: 50px; min-width: 1160px; width: 1160px; min-height: 49px; height: 49px; display: block; z-index: 141; }
#wb_element_instance94 { left: 20px; top: 110px; min-width: 540px; width: 540px; min-height: 31px; height: 31px; display: block; z-index: 143; }
#wb_element_instance95 { left: 30px; top: 290px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; z-index: 511; }
#wb_element_instance95 img { width: 70px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance96 { left: 30px; top: 200px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; z-index: 510; }
#wb_element_instance96 img { width: 70px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance97 { left: 30px; top: 390px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; z-index: 512; }
#wb_element_instance97 img { width: 70px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance98 { left: 34px; top: 490px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 514; }
#wb_element_instance98 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance99 { left: 560px; top: 210px; min-width: 630px; width: 630px; min-height: 740px; height: 740px; display: block; z-index: 515; }
#wb_element_instance99 img { width: 630px; height: 740px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance100 { left: 30px; top: 570px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; z-index: 516; }
#wb_element_instance100 img { width: 70px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance101 { left: 877px; top: 115px; min-width: 200px; width: 200px; min-height: 31px; height: 31px; display: block; z-index: 517; }
#wb_element_instance102 { left: 0px; top: 970px; display: block; z-index: 9000; }
#wb_element_instance103 { left: 0px; top: 74px; display: block; z-index: 9999; }


#wb_element_instance87 p:last-child { margin-bottom: 0; }
#wb_element_instance88 p:last-child { margin-bottom: 0; }
#wb_element_instance92 p:last-child { margin-bottom: 0; }
#wb_element_instance93 p:last-child { margin-bottom: 0; }
#wb_element_instance94 p:last-child { margin-bottom: 0; }
#wb_element_instance101 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
