
#wb_header { background: transparent none repeat scroll left top; height: 240px; }
#wb_main { background: transparent none repeat scroll left top; height: 800px; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 86px; }
body { background: #f5f5f5 url("../gallery_gen/484c9828277ce73b920041482a028711.jpg") no-repeat fixed center top; }
.wb_sbg { background: transparent url("../gallery_gen/eff7612b3df4bc0c5266113e8b71a0b0.png") no-repeat scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1126px; }
.root { width: 1200px; height: 1126px; overflow: visible; min-height: 1126px; }
#wb_element_instance137 { left: 0px; top: 170px; min-width: 1200px; width: 1200px; min-height: 40px; height: 40px; display: block; z-index: 354; }
#wb_element_instance137 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance137, #wb_element_instance137 ul { text-align: center; }
#wb_element_instance137 ul ul { background: #1307b8 none repeat scroll right top; }
#wb_element_instance137 li { margin: 0px 25px 0px 20px; }
#wb_element_instance137 li a { text-transform: uppercase; border: 1px none #000000; padding: 10px 9px 10px 10px; font: normal bold 20px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none no-repeat scroll center top; }
#wb_element_instance137 li.over > a, #wb_element_instance137 li:focus > a { border: 0px solid #58c8f0; font: normal bold 20px 'Roboto',sans-serif; text-decoration: none; color: #59bdff; line-height: 22px; background: transparent none no-repeat scroll center top; }
#wb_element_instance137 li.active > a { border: 0px none #000000; font: normal bold 20px 'Roboto',sans-serif; text-decoration: underline; color: #ffffff; line-height: 22px; background: transparent none no-repeat scroll center center; }
#wb_element_instance137:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance137:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance137:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance138 { left: 543px; top: 10px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 355; }
#wb_element_instance138 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance139 { left: 990px; top: 30px; min-width: 180px; width: 180px; min-height: 40px; height: 40px; display: block; z-index: 354; }
#wb_element_instance140 { left: 33px; top: 10px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 337; }
#wb_element_instance140 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance141 { left: 113px; top: 10px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 351; }
#wb_element_instance141 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance142 { left: 40px; top: 30px; min-width: 1140px; width: 1140px; min-height: 60px; height: 60px; display: block; z-index: 145; }
#wb_element_instance143 { left: 40px; top: 110px; min-width: 1140px; width: 1140px; min-height: 588px; height: 588px; display: block; z-index: 222; }
#wb_element_instance144 { left: 0px; top: 0px; min-width: 1200px; width: 1200px; min-height: 750px; height: 750px; display: block; z-index: 144; }
#wb_element_instance144 > div.wb_shp { background: #f5f5f5; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 750px; }
#wb_element_instance145 { left: 0px; top: 1070px; display: block; z-index: 9000; }
#wb_element_instance146 { left: 0px; top: 94px; display: block; z-index: 9999; }


#wb_element_instance139 p:last-child { margin-bottom: 0; }
#wb_element_instance142 p:last-child { margin-bottom: 0; }
#wb_element_instance143 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
